.logo-container {
  display: flex;
  justify-content: space-between;  /* Sentrer horisontalt */
  align-items: center;      /* Sentrer vertikalt */
  height: 10vh;            /* Valgfritt: full høyde på skjermen */
  background-color: rgb(102, 102, 102);
}

img{   
  width: 150px;    
  height: auto;
}

.btn {
    padding: 10px 20px;
    margin: 0 10px;
    font-weight: bold;
    background-color: #ffcb05;
    color: #2a75bb;
    border: 2px solid var(-color);
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.2s ease;
}

.btn:hover {
    background-color: var(-color);
    color: #fff;
    border-color:#ffcb05;
    transform: scale(1.05);
}

.starter-btn {
    padding: 10px 20px;
    margin: 0 10px;
    font-weight: bold;
    background-color: #ffcb05;
    color: #2a75bb;
    border: 2px solid var(-color);
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.2s ease;
}

.starter-btn:hover {
    background-color: var(-color);
    color: #fff;
    border-color:#ffcb05;
    transform: scale(1.05);
}

.type-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 50px;
}

.type-container button {
  border-radius: 50%;
  border: none;
  background: none;
}

.type-container button:hover {
  transform: scale(1.05);
}

